* {
    margin: 0;
    padding: 0;
}

header {
    flex-wrap: wrap;
    display: inline-block;
    width: 100%;
    height: 50px;
}

.float-left {
    float: left;
    padding: 7px 0 0 20px;
    font-size: 20px;

}

.float-right {
     float: right;
    padding: 7px 20px 0 0;
    font-size: 20px;
}

span {
    padding-right: 10px;
}

main {
    text-align: center;
    padding-top: 70px;
}

main h1 {
    text-decoration: underline;
}

button{
    justify-content: center;
    background-color: purple;
    color: white;
    padding: 5px;
}

.hide {
    display: none;
}

.choice {
    display: list-item;
    padding: 5px;
   text-align: center;
margin: auto; 
display: flex; 
display: grid;
}